<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
标题<%= data[0]['title'] %>
标签<%= data[0]['tag'] %>
作者<%= data[0]['author'] %>
内容<%= data[0]['content'] %>
发布时间<%= data[0]['time'] %>
</body>
</html>